# Data Analysis Project - GDP & Population

This dataproject will analyse how the GDP per capita (*chained linked volumes*) has changed over the years (2012-2022) for the european countries. The countries include countries that are currently in the EU, that has previously been in the EU or countries aplying to become a memeber of the EU. 

For this project we will use data from Eurostat, we will acces the data dirctly form Eurostat and thus it will be nessesary to install the eurostat extension *(See below)* .
We will use data from two datasets, nama_10_gdp and DEMO_PJAN. 

We will use two different methods to access and clean the data, firstly we will acces the full dataset of "nama_10_gdp" and then manually clean it and delete the parts that we do not need. Secondly, with the dataset "DEMO_PJAN" we will only access the parts of the dataset that we need, this is done filtering the dataset, such that we only access the data that we need. 

After accessing and cleaning both datasets, we will combine the two and make some calculations ond vizualisations of the data.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
from matplotlib_venn import venn2

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# For this projekt we are going to use the eurostat module, and therefore you will need to run this line of code if you havent installed it yet. If the eurostat module is already installed, you can add a # in front of the next line.
##%pip install eurostat

# user written modules
from DPJ import GDP_CapitaClass
model = GDP_CapitaClass()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Definitions

**GDP :**  Gross Domestic Product 

**Chained Linked Volumes :**

**Population :** The population is calculated as the total population, this mean that it is all people who is registered a citizen in a country. This value is measured January 1st of the year in question. $^*$ 


$^*$ Definition from Eurostat on the metadata within the DEMO_PJAN-dataset used.

# The first Dataset - GDP

We will start of by accessing the dataset (nama_10_gdp) from EuroStat.

With this dataset, we are accessing the full dataset, which we will then clean up.

In [19]:
model.Get_GDP()

,freq,unit,na_item,geo\TIME_PERIOD,1975,1976,1977,1978,1979,1980,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,A,CLV05_MEUR,B1G,AT,NaN,NaN,NaN,NaN,NaN,NaN,...,251167.1,252879.7,255017.1,259996.4,266016.9,272985.2,277001.4,259083.6,269392.5,283659.7
1,A,CLV05_MEUR,B1G,BA,NaN,NaN,NaN,NaN,NaN,NaN,...,9118.0,9224.4,9358.7,9658.1,9978.2,10355.7,10650.6,10358.6,11080.5,11427.6
2,A,CLV05_MEUR,B1G,BE,NaN,NaN,NaN,NaN,NaN,NaN,...,308495.4,313684.3,320657.4,323677.5,328736.7,334655.5,342477.2,325482.3,344637.6,355710.6
3,A,CLV05_MEUR,B1G,BG,NaN,NaN,NaN,NaN,NaN,NaN,...,25127.0,25373.6,26129.3,26806.7,27691.2,28654.5,29721.9,28535.0,30816.2,31876.7
4,A,CLV05_MEUR,B1G,CH,NaN,NaN,NaN,NaN,NaN,NaN,...,381505.9,390405.6,396747.1,405030.0,410565.5,422877.6,427969.5,418277.5,435957.0,445107.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29630,A,PYP_MNAC,YA1,PT,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-27.4,156.0
29631,A,PYP_MNAC,YA1,RO,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29632,A,PYP_MNAC,YA1,SI,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29633,A,PYP_MNAC,YA1,UK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29634,A,PYP_MNAC,YA1,XK,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

We will now clean up det dataset:

1.  We choose which rows we want to see. For this we have chosen to see the Gross Domestic Product in Chained linked volumes (205), million euro.

2.  We remove the columns freq, unit, na_items, and the years 1975-2011.

3. We rename the column geo/Time_Period to Country_code. 

4. We remove the aggregate values in our dataset, as we are only interested in the specific countries. 

5.  We reset the index.

In [16]:
model.Clean_GDP()

# The second dataset - Population

We will now access the dataset (DEMO_PJAN) from Eurostat.

With this dataset, we will filter it directly form Eurostat, meaning that we will only access the data we need:

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Startperiod : 2012

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Endperiod : 2022

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * sex : T

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Age : Total

This will give us the the total population for each country in the period 2012-2022

In [25]:
model.Get_Population()

,freq,unit,age,sex,geo\TIME_PERIOD,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,A,NR,TOTAL,T,AD,78115.0,76246.0,NaN,NaN,NaN,NaN,NaN,76177.0,NaN,NaN,NaN
1,A,NR,TOTAL,T,AL,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0,2862427.0,2845955.0,2829741.0,NaN
2,A,NR,TOTAL,T,AM,3274285.0,NaN,NaN,3010598.0,2998577.0,2986151.0,2972732.0,2965269.0,2959694.0,2963251.0,NaN
3,A,NR,TOTAL,T,AT,8408121.0,8451860.0,8507786.0,8584926.0,8700471.0,8772865.0,8822267.0,8858775.0,8901064.0,8932664.0,8978929.0
4,A,NR,TOTAL,T,AZ,9235085.0,9356483.0,9477119.0,9593038.0,9705643.0,9809981.0,9898085.0,9981457.0,10067108.0,10119133.0,NaN

We will also do a bit of cleaning wiht this dataset: 

1. We will rename the column geo/Time_Period to Country_code.

2. We will delete the columns 'freq', 'unit', 'age' , 'sex'

In [26]:
model.Clean_Population()